.background3 {
    background: burlywood url(../img/s13.jpg);
    background-size: cover;
    height: fit-content;
 
}
.row0{
    width: 200px;
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h2 {
    
    padding: 30px;
    margin-left: 454px;
    font-size: 44px;
    font-family: cursive;
}
.row { 
    padding: 26px;
    font-size: 17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.AP {
    font-size: 38px;
    margin: 17px;
    margin-bottom: 46px;
    font-family: cursive;
}
.list2 {
    margin: 41px
}