.background3 {
    background: burlywood url(../img/s10.jpeg);
    background-size: cover;
    height: 100vh;
}
.col1{
    width: 200px;
    font-size: ;
}
h2 {
    
    padding: 30px;
    margin-left: 454px;
    font-size: 44px;
    font-family: cursive;
}
}